{% extends "admin/skeleton.html" %}

{% block main_content %}
<div class="box-content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for block in blocks %}
            <tr>
                <td>{{ block.id }}</td>
                <td class="center">{{ block.title }}</td>
                <td>
                    <a class="btn btn-info" href="#"><i class="icon-edit icon-white"></i>Edit</a>
                    <a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i>Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a id="add-block-button" class="btn btn-success" href="#"><i class="icon-plus-sign icon-white"></i>Add</a>
</div>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Add Block</h3>
    </div>
    <div class="modal-body">
        <form id= "save-block-form" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="focusedInput">Block Title</label>
                    <div class="controls">
                        <input name="title" id="focusedInput" class="input-xlarge focused" type="text" value="">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a id="save-block-btn" href="#" class="btn btn-success">Save changes</a>
    </div>
</div>
{% endblock %}

{% block js %}
    $('#add-block-button').click(function(e){
        e.preventDefault();
        $('#myModal').modal('show');
    });

    $('#save-block-btn').click(function(e){
        $.ajax({
            type: 'POST',
            url: '{{ baseurl }}/sadmin/block',
            data: $('#save-block-form').serialize()
        });
    });
{% endblock %}